<div class="container-fluid col-xl-12 col-xxl-10 px-4 py-5">

  <div class="row texte-contact">
    <h1 class="text-center titre-contact">NOUS ECRIRE</h1>

    <div class="col-lg-12 text-lg-start">
      <p class="col-lg-12 fs-4">Pour toute information ou collaboration concernant le processus de
        recrutement de votre entreprise, veuillez remplir le formulaire...</p>
    </div>
  </div>

  <div class="row">
    <p class="qualifications text-center my-3 py-5">FORMULAIRE</p>
  </div>

  <form class="row g-3 mt-5 shadow-lg p-3 mb-2 rounded border border-success">
  <div class="col-md-6">
    <label for="nom_prenoms" class="form-label">NOM ET PRENOMS</label>
    <input type="text" class="form-control" id="nomprenoms" name="nomprenoms" [(ngModel)]="visiteurs.nomprenoms" required>
  </div>
  <div class="col-md-6">
    <label for="telephone" class="form-label">TELEPHONE</label>
    <input type="text" class="form-control" id="telephone" name="telephone" [(ngModel)]="visiteurs.telephone" required>
  </div>

  <div class="col-md-6">
    <label for="email" class="form-label">EMAIL</label>
    <input type="text" class="form-control" id="email" name="email"  [(ngModel)]="visiteurs.email" required>
  </div>
  <div class="col-md-6">
    <label for="lieu_habitation" class="form-label">TYPE</label>
    <select class="form-select" name="" id="">
      <option class="form-control" value="">DEVELOPER FULL STACK</option>
      <option class="form-control" value="">BUSINESS DEVELOPER</option>
      <option class="form-control" value="">RECRUTEUR</option>
      <option class="form-control" value="">VISITEUR</option>
    </select>

  </div>

  <div class="col-md-12">
    <label for="message" class="form-label">MESSAGE</label>
    <textarea class="form-control" id="message" cols="3" rows="3" name="message" [(ngModel)]="visiteurs.message"></textarea>
  </div>

  <div class="col-12">
    <button class="btn btn-success" type="submit" (click)="VisiteurSave()">Envoyer</button>
  </div>
</form>
</div>
