<main>
  <div class="pricing-header p-3 pb-md-4 mx-auto coach-apropos">
    <h1 class="display-4 fw-normal text-center titre-apropos">COACH’ON</h1>
    <p class="fs-5 text-propos mt-3"> aide les jeunes diplômés à trouver plus facilement un emploi grâce à un processus de vérification rigoureux qui consiste à évaluer et renforcer leurs compétences avant de les connecter avec les entreprises.
</p>
  </div>
  <div class="container-fluid">
    <div class="row">
      <p class="qualifications text-center my-5 py-5">Trouvez rapidement les meilleurs talents avec Coach’on</p>
    </div>
    <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
      <div class="col-md-4">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">Des candidats <br> de qualité </h4>
          </div>
          <div class="card-body">
            <img src="assets/images/apropos/1.jpg" class="card-img-top" alt="qualite">
            <ul class="list-unstyled mt-3 mb-4">
              <li>chez Coach’on, seuls les candidats ayant obtenu des résultats supérieurs à la moyenne sont sélectionnés,
                pour offrir aux entreprises les profils les plus qualifiés du marché.</li>

            </ul>
            <a type="submit" class="w-100 btn btn-lg btn-success"  routerLink="../contact">NOUS CONTACTER</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">Un gain de temps <br> considérable </h4>
          </div>
          <div class="card-body">
            <img src="assets/images/apropos/3.jpg" class="card-img-top" alt="gains de temps">
            <ul class="list-unstyled mt-3 mb-4">
              <li>nous mettons à la disposition des entreprises, un vivier de talent pré-évalués. Avec Coach’on,
                 plus besoin de chercher le candidat idéal.</li>

            </ul>
            <a type="submit" class="w-100 btn btn-lg btn-success"  routerLink="../contact">NOUS CONTACTER</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">Des décisions d’embauche facilitées </h4>
          </div>
          <div class="card-body">
            <img src="assets/images/apropos/2.jpg" class="card-img-top" alt="decision">
            <ul class="list-unstyled mt-3 mb-4">
              <li>nous fournissons aux entreprises un rapport de compétences détaillé pour chaque candidat,
                 afin de rendre leur décision d’embauche plus facile et plus formee. </li>
            </ul>
            <a type="submit" class="w-100 btn btn-lg btn-success"  routerLink="../contact">NOUS CONTACTER</a>
          </div>
        </div>
      </div>
    </div>

  </div>

</main>

