<header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-0">
    <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
    <img class="img" src="assets/images/logo/logo.png" alt="coach'on">
    </a>
    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
      <li><a routerLink="" class="nav-link px-2">Accueil</a></li>
      <li><a routerLink="apropos" class="nav-link px-2">A Propos</a></li>
      <li><a routerLink="contact" class="nav-link px-2">Contact</a></li>
    </ul>
</header><app-infos></app-infos>
