
<div class="container-fluid col-xxl-10 px-4 py-1 accueil-info">
  <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
    <div class="col-md-12 col-sm-10 col-lg-6 carousel-accueil">

      <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active" data-bs-interval="10000">
            <img src="assets/images/accueil/informatique.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item" data-bs-interval="2000">
            <img src="assets/images/accueil/talent.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="assets/images/accueil/seo.jpg" class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    <!-- <img src="assets/images/accueil/talent.jpg" class="d-block mx-lg-auto img-fluid talent-image" alt="Bootstrap Themes" width="700" height="500" loading="lazy"> -->
    </div>
    <div class="col-lg-6">
      <h1 class="display-5 fw-bold lh-1 mb-3 titre-accueil">Des Talents accessibles immediatement</h1>
      <p class="lead text-accueil">Nous aidons les jeunes diplômés à trouver plus facilement un emploi en valorisant leurs compétences auprès des entreprises.
        </p>
      <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <button type="button" class="btn btn-primary btn-lg px-4 me-md-2" routerLink="contact">Nous contacter</button>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid bg-light px-4 py-4" id="custom-cards">
  <div class="row">
    <p class="qualifications text-center my-5 py-5">Des Talents</p>
  </div>

  <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-2">
    <div class="col">
      <div class="card card-cover h-100 overflow-hidden text-bg-white rounded-4 shadow-lg">
        <div class="d-flex flex-column h-100 p-5 pb-3 text-success text-shadow-1">
          <h3 class="pt-2 mb-4 display-6 lh-1 fw-bold text-center talent-metier">Informatique</h3>

        </div>
      </div>
    </div>

    <div class="col">
      <div class="card card-cover h-100 overflow-hidden text-bg-white rounded-4 shadow-lg">
        <div class="d-flex flex-column h-100 p-5 pb-3 text-success text-shadow-1">
          <h3 class="pt-2 mb-4 display-6 lh-1 fw-bold text-center talent-metier">Comptabilite</h3>

        </div>
      </div>
    </div>

    <div class="col">
      <div class="card card-cover h-100 overflow-hidden text-bg-white rounded-4 shadow-lg">
        <div class="d-flex flex-column h-100 p-5 pb-3 text-success text-shadow-1">
          <h3 class="pt-2  mb-4 display-6 lh-1 fw-bold text-center talent-metier">Ressources Humaines</h3>

        </div>
      </div>
    </div>
  </div>
</div>
